@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

$family-sans-serif: "Nunito", sans-serif;
$size-normal: 0.95rem;
$primary: #3f92fb;

@import "../../node_modules/bulma/bulma.sass";

.is-hoverable {
  cursor: pointer;
}

.is-dark {
  a:hover {
    color: $link-visited;
  }
}

::placeholder {
  color: $grey !important;
}

.button.is-rounded {
  padding-left: 1em !important;
  padding-right: 1em !important;
}
