@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import "variables";

$family-sans-serif: "Nunito", sans-serif;
$size-normal: 0.95rem;
$primary: #3f92fb;
$table-cell-border: 1px solid $background-color;

@import "../../node_modules/bulma/bulma.sass";

.is-hoverable {
  cursor: pointer;
}

.is-dark {
  a:hover {
    color: $link-visited;
  }
}

::placeholder {
  color: $grey !important;
}

.button.is-rounded {
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

.field {
  .slider-value {
    float: right;
    margin-top: -50px;
    color: $grey;
    font-size: 90%;
  }
}
