@import "../../node_modules/bulma/bulma.sass";

.page-loader {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.panel-block {
  &.has-loader {
    justify-content: center;
    padding: 2em;
    .loader {
      font-size: 3rem;
    }
  }
}

.panel-block,
.element {
  &.is-disabled {
    position: relative;
    pointer-events: none;
    opacity: 0.5;
  }

  &.is-loading {
    position: relative;
    pointer-events: none;
    opacity: 0.5;
    &:after {
      @include loader;
      position: absolute;
      top: calc(50% - 2.5em);
      left: calc(50% - 2.5em);
      width: 5em;
      height: 5em;
      border-width: 0.25em;
    }
  }
}
