.trading-page {
  margin: 1em;

  .order-book {
    .panel-block .columns {
      flex: 1;
    }
  }

  .clipped .panel-block {
    overflow: auto;
    max-height: 400px;
    align-items: flex-start;
    .columns {
      margin: -8px;
    }
  }
}
