{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/core.async {:mvn/version "1.0.567"}
        slingshot {:mvn/version "0.12.2"}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        tick {:mvn/version "0.4.23-alpha"}
        roul {:mvn/version "0.2.0"}}

 :aliases {:dev {:extra-paths ["dev" "test"]
                 :extra-deps {org.clojure/tools.namespace {:mvn/version "1.0.0"}}}
           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-597"}
                               tortue/spy {:mvn/version "2.0.0"}
                               nubank/matcher-combinators {:mvn/version "1.5.1"}}
                  :jvm-opts ["-Dclojure.spec.check-asserts=true"]}}}
