{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        integrant {:mvn/version "0.8.0"}
        integrant/repl {:mvn/version "0.3.1"}
        slingshot {:mvn/version "0.12.2"}}

 :aliases {:dev {:extra-paths ["dev" "test"]}
           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-597"}
                               com.gearswithingears/shrubbery {:mvn/version "0.4.1"}}
                  :jvm-opts ["-Dclojure.spec.check-asserts=true"]}}}
