{:source-paths ["src"]

 :dependencies [[reagent "0.10.0"]
                [com.taoensso/sente "1.15.0"]
                [binaryage/devtools "1.0.0"]]

 :builds {:app {:target :browser
                :output-dir "resources/public/js"
                :asset-path "/js"
                :modules {:main {:entries [mercurius.core.presentation.main]}}
                :devtools {:after-load mercurius.core.presentation.main/main}}}}
