#kaocha/v1
 {:tests [{:kaocha.filter/skip-meta []}]
  :kaocha/fail-fast? false
  :kaocha/plugins [:kaocha.plugin/notifier]
  :bindings {mercurius.core.configuration.config/*config-overrides*
             {:log-level :warn
              :port 5001}}}
